[submodule "mainui"]
	path = 3rdparty/mainui_cpp
	url = https://github.com/Velaron/mainui_cpp
	branch = tf15-client
[submodule "particleman"]
	path = 3rdparty/particleman
	url = https://github.com/Velaron/particleman
